$mobile: 360px;
$tablet: 767px;
$tablet2: 1023px;
$pc: 1279px;
@mixin device($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;
  h2 {
    margin: 0;
  }
}

:root {
  --card_width: 48.6%;
  --row_increment: 10px;
  --card_border_radius: 16px;
  --card_small: 11;
  --card_medium: 13;
  --card_large: 15;
}

@keyframes openingChild {
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes bighide {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
    color: white;
  }
}

.moveHide {
  opacity: 0;
  transition: 1s;
  transform: translateY(20%);
}
.moveUp {
  opacity: 1;
  transform: translateY(0%);
  // .del {
  //   opacity: 1;
  // }
}

.bodybody {
  width: 100%;
  //   height: 100px;
  .headerBox {
    position: fixed;
    width: 96%;
    padding: 10px 2% 0 2%;
    // margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: white;
    z-index: 100;
    // background-color: #111;
    h1 {
      margin: 0;
      padding: 0;
      top: 3%;
      left: 20%;
    }
    > div {
      display: flex;
      p {
        display: inline-block;
        // margin-left: 30px;
        margin-right: 60px;
      }
    }
    &.black {
      color: black;
      background-color: #fff;
    }
  }
  .visualMain {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #111;
    position: relative;
    div {
      margin: 0;
      color: white;
      font-size: 36px;
      position: absolute;
      z-index: 99;
      top: 63%;
      left: 8%;
      line-height: 62px;
      pointer-events: none;
      p {
        opacity: 0;
        margin: 0;
        transform: translateY(100%);
        &.visualMaintxt1 {
          animation: openingChild 1.5s 1s forwards;
        }
        &.visualMaintxt2 {
          animation: openingChild 1.5s 2s forwards;
        }
        &.visualMaintxt3 {
          animation: openingChild 1.5s 3s forwards;
        }
      }
    }
  }
  .about {
    padding-top: 100px;
    background-color: #eef2f5;
    font-family: "Noto Sans KR", sans-serif;
    > div {
      max-width: 1080px;
      // width: 56.25%;
      margin: 0 auto;
      text-align: center;
      h2 {
        margin: 0;
        font-size: 36px;
      }
      .listBox {
        padding-top: 70px;
        padding-bottom: 45px;
        position: relative;
        z-index: 100;
        ul {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          padding: 0;
          li {
            width: 33.3%;
            display: flex;
            margin: 0 auto;
            > div {
              width: 70%;
              margin: 0 auto;
              display: flex;
              padding-bottom: 40px;
              .leftBox {
                span {
                  font-size: 40px;
                }
                padding-right: 10px;
              }
              .rightBox {
                text-align: left;
                span {
                  display: block;
                  align-items: center;
                  font-size: 20px;
                  padding: 5px 0;
                  font-weight: bold;
                }
                p {
                  font-size: 16px;
                  margin: 0;
                }
                > div {
                  > div {
                    font-size: 16px;
                    font-weight: bold;
                    margin: 0;
                  }
                  .click {
                    position: relative;
                    cursor: pointer;
                    &:before {
                      content: "Click";
                      position: absolute;
                      animation: bighide 2s ease-in-out infinite;
                      animation-delay: 0.5s;
                    }
                  }
                  .video {
                    display: none;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 800px;
                    padding: 10px 30px 50px;
                    background-color: #888;
                    // display: flex;
                    // flex-direction: column;
                    border-radius: 15px;
                    // .closeBox {
                    //   text-align: right;
                    //   font-size: 2rem;
                    //   cursor: pointer;
                    //   padding-bottom: 10px;
                    // }
                    text-align: right;
                    > p {
                      display: inline-block;
                      font-size: 2rem;
                      cursor: pointer;
                      padding-bottom: 10px;
                    }
                    .videoBox {
                      margin: 0 auto;
                      object-fit: cover;
                      width: 100%;
                      height: auto;
                      video {
                        width: 100%;
                      }
                    }
                    &.modon {
                      display: block;
                    }
                    .videoTxt {
                      font-size: 20px;
                      padding-top: 20px;
                      font-weight: normal;
                      text-align: left;
                    }
                  }
                }
              }
              & :last-child {
                padding: 0;
              }
            }
          }
        }
      }
      .aboutBox {
        font-size: 20px;
        color: #010101;
        text-align: center;
        padding-bottom: 100px;
      }
    }
  }
  .skill {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #bbd0e9;
    font-family: "Noto Sans KR", sans-serif;
    > div {
      // width: 56.25%;
      max-width: 1080px;
      margin: 0 auto;
      text-align: center;
      h2 {
        margin: 0;
        font-size: 36px;
      }
      > div {
        padding-top: 70px;
        display: grid;
        gap: 15px 20px;

        grid-template-columns: repeat(auto-fill, var(--card_width));
        grid-auto-rows: var(--row_increment);
        justify-content: center;

        // grid-template-columns: 1fr 1fr;
        // grid-template-rows: 4fr 3fr;
        // background-color: #333;
        font-size: 24px;
        h3 {
          margin: 0;
          padding: 0;
          position: relative;
          // display: block;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -5px;
            border-top: 1px solid #000;
            height: 1px;
            width: 100%;
          }
        }
        > div {
          padding: 20px 30px;
          font-size: 24px;
          text-align: left;
        }

        .firstBox {
          background-color: #fff;
          border-radius: 16px;
          order: 1;
          > div {
            // margin: 0 auto;
            > div {
              padding-top: 20px;
              .html {
                padding-left: 5%;
                width: 45%;
              }
              .sass {
                padding: 0 5% 0 10%;
                width: 20%;
              }
              .jquery {
                padding-bottom: 4%;
                width: 40%;
              }
              .next {
                padding: 0 5% 0 10%;
                // padding-left: 5%;
                width: 30%;
              }
              .react {
                padding-bottom: 0;
                width: 30%;
              }
            }
          }
        }
        .secondBox {
          background-color: #fff;
          border-radius: 16px;
          order: 2;
          > div {
            > div {
              padding-top: 20px;
              .git {
                padding-right: 50%;
                padding-bottom: 8px;
                width: 25%;
              }
              .github {
                width: 35%;
              }
            }
          }
        }
        .thirdBox {
          background-color: #fff;
          border-radius: 16px;
          order: 4;
          > div {
            > div {
              padding-top: 20px;
              .cloud {
                padding-right: 20%;
                padding-bottom: 10px;
                width: 50%;
              }
              .vercel {
                // padding-bottom: 10%;
                width: 40%;
              }
            }
          }
        }
        .fourthBox {
          background-color: #fff;
          border-radius: 16px;
          order: 3;
          > div {
            > div {
              padding-top: 20px;
              .zeplin {
                padding-right: 20%;
                padding-bottom: 3%;
                width: 50%;
              }
              .figma {
                width: 40%;
              }
            }
          }
        }
      }
      .card_small {
        grid-row-end: span var(--card_small);
      }

      .card_medium {
        grid-row-end: span var(--card_medium);
      }

      .card_large {
        grid-row-end: span var(--card_large);
      }
    }
  }
  .project {
    padding: 100px 0px;
    background-color: #eef2f5;
    font-family: "Noto Sans KR", sans-serif;
    > div {
      max-width: 1080px;
      // width: 56.25%;
      margin: 0 auto;
      text-align: center;
      .proH {
        h2 {
          margin: 0;
          font-size: 36px;
        }
      }
      .proContainer {
        margin-top: 70px;
        background-color: #fff;
        border-radius: 16px;
        > div {
          padding: 60px 50px;
          h3 {
            margin: 0;
            font-size: 28px;
          }
          .date {
            padding-top: 7px;
          }
          .pro {
            padding-top: 30px;
            // background-color: #fff;
            // height: 500px;
            display: flex;
            justify-content: space-between;
            .proLeft {
              width: 470px;
              // width: 48%;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              .proLeftImg {
                width: 100%;
                height: 72%;
                background-color: #888;
                // border-radius: 10px;
                > img {
                  object-fit: cover;
                  width: 100%;
                  height: 100%;
                }
              }
              .proLeftTxt {
                margin-top: 8%;
                padding: 0 15%;
                height: 20%;
                background-color: #ddd;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
            .proRight {
              width: 470px;
              // width: 48%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              .proRightT {
                .proRightHead {
                  font-size: 20px;
                  text-align: left;
                  padding-bottom: 10px;
                }
                .proRightTxt {
                  font-size: 16px;
                  color: #555555;
                  text-align: left;
                  padding-bottom: 25px;
                }
              }
              .proRightBut {
                align-items: flex-end;
                display: flex;
                justify-content: space-between;
                a {
                  text-decoration: none;
                }
                a:visited {
                  color: black;
                }
                .proRightBut1 {
                  width: 48%;
                  background-color: #ddd;
                  padding: 2px 0;
                  border-radius: 5px;
                  &:hover {
                    transition: 0.3s;
                    background-color: #aaa;
                    color: #fff;
                  }
                }
                .proRightBut2 {
                  width: 48%;
                  background-color: #ddd;
                  padding: 2px 0;
                  border-radius: 5px;
                  &:hover {
                    transition: 0.3s;
                    background-color: #aaa;
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .footer {
    background-color: #000;
    color: #fafafa;
    text-align: center;
    padding: 15px 0;
  }
}

@import "_media";
